<div id='mainContent' class='container'>


	</div>


	<!-- Modal -->

<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Sign Up!</h4>
		    </div>
		    	<form method="post" action="/signin">
			    <div class="modal-body">
			    		<!-- Company Logo -->
			    		<img id="modalImage" src="/images/RQUin.jpeg"></img> 
				    	<h4>First Name</h4>
				    	<input id="firstNameInput" class="form-control" required="true" type="text" autofocus="true" maxlength="20"> </input>
				    	<h4>Last Name</h4>
				    	<input id="lastNameInput" class="form-control" required="true" type="text" maxlength="20"> </input>
				    	<h4>Email Address</h4>
				    	<input id="emailInput" class="form-control" required="true" type="email" maxlength="20"></input>
				    	<h4>Password</h4>
				    	<input  id="newUserPasswd" class="form-control" required="true" type="password" minlength="8" maxlength="14" ></input>
				    	<h4>Verify Password</h4>
				    	<input  id="newUserPasswd" class="form-control" required="true" type="password" minlength="8" maxlength="14" ></input>
	
	        	</div>
			    <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button id="signUpButton" type="submit" class="btn btn-primary">Submit</button>
			    </div>

				</form>
		</div>
	</div>
</div> 
   <!-- End Modal -->


  


   <!-- Parent Body -->

<div id="parentBody" class="container">

	<div  id="aboutBody" class="container">
		<div class="float-left">
			<h2>About Us</h2><br>
			<p>We are a group of individuals who, like many of you, have incurred student loans to pay our way through college. In an attempt to relieve the burden of these student loans, we dedided to start a Non-Profit that works to help individuals pay off student loans through crowd funding donations and the philosophy of "giving to receive". </p>
			</div>
			<div class="float-left">
				<h2>A few basic rules.</h2>
				<ul>
					<li>In order to receive funds you and your loan must meet the following criteria</li>
					<ul>
						<li>Loan is in good standing (not in default)</li>
						<li>Completed Bachelors degree from an accredited university</li>
						<li>Have above a 2.0 GPA</li>
						<li></li>
						<li></li>
						<li>Not be convited of any violent felony/federal crime</li>
						<li>Be able to provide a sealed copy of your transcript for verification</li>
						<li>Provide loan servicer online account information</li>
						<li></li>
						<li></li>
						<li></li>
						<p>*Amount of loans will be calculated based on last degree received. Thus, using the amount accurred for the last degree, which excludes any accurred debt for advanced degrees in progress.</p>
					</ul>
					<li>All funds are paid toward the principle of your loan, not as the monthly payment; you must still make the monthly payment</li>
					<li>In order to have donated funds put towards your account you must first donate a minimum of 40% of the amount you are to receive to the donation pool. This is done to grow the number of individuals who receive funds donated towards their loans, as well as ensuring that you must give to receive.</li>
					<li>Will only pay off a maximum of half of the amount of the student loan, where amount is based when user first signs up.</li>
					<li>Five</li>
				</ul>
				<br>
				<h2>Donatees should know..</h2>
				<ul>
					<li>You can choose specific attributes about who you would like to donate to such as: University, GPA range, major, minor, ect..</li>
					<li>You can NOT choose any attributes that would be discriminatory based on race, gender, age, and any other things I decide to make up at any time in order to maintain fairness and equality for all users.</li>
					<li>You can decide how many individuals your donated funds are split among. For example, if you donate $100.00, you can choose to have that split down to $2.00 incriments; thus helpling 50 individuls.</li>
					<li></li>
					<li></li>
				</ul>
			</div>

			<div class="float-left">
				<h2 class="">How does this all work?</h2>
			</div>

			<div class="float-left clear">
				<button id="signUp" class="btn btn-lrg btn-primary"> Sign Up</button>
				<button class="btn btn-lrg btn-success">Contact Us</button>
			</div>
	</div>
</div>

</div> <!-- end main content container -->