   
            <!--Wrap the .navbar in .container to center it within the absolutely position parent -->
           
<div class="navbar-wrapper">
    <div class="container">
        <div  class="navbar navbar-static-top " role="navigation">
            <div>
                <h1 class=".font-black"><a class="float-left clear" id="mainTitle" href="#tested">Ruff Ruff</a></h1>
        
               
                <div id='navSignIn' class="float-right">
                    <form class="navbar-form " method="post" action="/signin">
              
                        <input id="userNameInput" required="true" autofocus="false" type="text" class="form-control float-right clear" name="username" placeholder="Username">
                        <input id="passwordInput" required="true" maxlength="10" type="password" class="form-control float-right clear"  name="password" placeholder="Password">

                         <button id="btnSubmit" type="submit" class="btn btn-primary float-right clear">Sign In</button>
                        
                        <div class="float-right">
                            <a id="newUserModal" href="" class="float-right" data-toggle="modal" data-target="#signUpModal"> <i class="fa fa-user"></i>Create an Account</a> 
                            <a id="passwdReset" href="" class="float-right clear">Reset Password</a>
                        </div>        
             
                    </form>
                    <!-- 
                
                <form class="navbar-form navbar-right" id="navSignIn" method="get" action="/logout">
                    <button id="btnLogout"  class="btn btn-primary">Logout</button>
                </form>
            -->
            </div>


       
       <!-- open a new window without changing the currently displayed content --> 
     <!-- <button class='btn btn-submit' onclick='javascript:void window.open("http://www.google.com")'>Submit</button> -->
        </div>
    </div>
</div>