<!DOCTYPE html>
<html>
  <head>
    
    <% include partials/head.ejs %>
    
  </head>
  <body > 
    
      <% include partials/navbar.ejs %>
  

    <div class='centered'>
      <% include partials/body.ejs %>
    </div>

    
    
  </body>
  <footer>
      <% include partials/footer.ejs %>
  </footer> 
   
</html>
