* {

	font-family: Oswald;
}
html {
	/* background-color: white; */

}
body {

	background: url('../images/background.jpg')  repeat-y center center fixed; ;   	
   	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
  
  	height:100%;

}

.float-left {

	float:left;
	margin: 0 10px 10px 0;
}

.float-right {

	float:right;
	margin: 0 10px 10px 0;
}

.clear {
	clear:both;
}

button[type=submit]:hover {
	
	-webkit-box-shadow: 1px 1px 3px 3px #3FBBBF;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    1px 1px 3px 3px #3FBBBF;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         1px 1px 3px 3px #3FBBBF;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

button[type=submit]:focus {
	
	-webkit-box-shadow: 1px 1px 3px 3px #3FBBBF;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    1px 1px 3px 3px #3FBBBF;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         1px 1px 3px 3px #3FBBBF;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.circle {

	text-align: center;
	padding-top: 10%;
	 
}



				/*				Main Content				*/

#parentBody {

	width:80%;
	height:100%;
	//border: solid black 2px;
	background-color: white;
	opacity: .8;
	border-radius: 10px;
}
	
	#parentBody ul > li {

		width:80px;
		height:80px;
		border-radius: 50%;
		border: solid black 2px;
		margin-top:10px;
		list-style: none;
	}

#aboutBody {

	width:90%;
	 margin: 0 10px 10px 0; 
}

#aside {

	width:150px;
	height:400px;
	//border:solid blue 4px;
}

ul {
 //list-style-type: square;
 //list-style-position: ;
 //list-style-image: none;
}


#img {

	width:20%;
	height:20%;
}



				/*  			MODAL			*/

.modal {

	border-radius: 2px;

}

/* Modal-Header */

.modal-header {

	background-color: #54DBB7;
}

.modal-content {

	background-color: smokewhite;
}


/* Modal-Body  */
#modalImage {

	height: 180px;
	width: 220px;
	float:right;
	clear:both;
	padding-right:40px;
}



.modal-body input {

	border-radius: 3px;
}

.modal-body .form-control {

		width:260px;
		background-color: transparent;
	}
input:focus::-webkit-input-placeholder { 
  color:transparent; 
}


input:focus:-moz-placeholder { 
  color:transparent; 
  } /* FF 4-18 */


input:focus::-moz-placeholder { 
  color:transparent; 
  } /* FF 19+ */


input:focus:-ms-input-placeholder {
  color:transparent; 
  } /* IE 10+ */


input[type="text"]:focus {
  border-left:5px solid #3FBBBF;
  -webkit-transition:0.4s ease;
}


input[type="password"]:focus {
  border-left:5px solid #3FBBBF;
  -webkit-transition:0.4s ease;
}

.modal-footer {}


.navbar a {

	color:black;
}
